{% extends 'portfolio/base.html' %}
{% load static %}

{% block title %}Cadastro de Operação{% endblock %}

{% block content %}
<h1 class="mb-4">Cadastro de Operação</h1>
<form method="post" class="row g-3">
    {% csrf_token %}
    <div class="col-md-6">
        <div class="row g-3">
            <div class="col-md-7">
                {{ form.onde_investir.label_tag }}
                {{ form.onde_investir }}
            </div>
            <div class="col-md-5">
                {{ form.corretora.label_tag }}
                {{ form.corretora }}
                <datalist id="lista_corretoras">
                    {% for corretora in form.corretora_sugestoes %}
                    <option value="{{ corretora }}"></option>
                    {% endfor %}
                </datalist>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        {{ form.nome_ativo.label_tag }}
        {{ form.nome_ativo }}
    </div>
    <div class="col-md-6">
        {{ form.operacao.label_tag }}
        {{ form.operacao }}
    </div>
    <div class="col-md-6">
        {{ form.mercado.label_tag }}
        {{ form.mercado }}
    </div>
    <div class="col-md-6">
        {{ form.tipo.label_tag }}
        {{ form.tipo }}
    </div>
    <div class="col-md-6">
        {{ form.moeda.label_tag }}
        {{ form.moeda }}
    </div>
    <div class="col-md-6">
        {{ form.quantidade.label_tag }}
        {{ form.quantidade }}
    </div>
    <div class="col-md-6">
        {{ form.preco_unitario.label_tag }}
        {{ form.preco_unitario }}
    </div>
    <div class="col-md-6">
        {{ form.valor_total.label_tag }}
        {{ form.valor_total }}
    </div>
    <div class="col-md-6">
        {{ form.data.label_tag }}
        {{ form.data }}
    </div>
    <div class="col-12">
        {{ form.observacao.label_tag }}
        {{ form.observacao }}
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>

<script src="{% static 'portfolio/js/cadastro_operacao.js' %}?v={% now "U" %}" defer></script>


{% endblock %}